@import '../../global.scss';

.nav {
  max-width: 1440px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 280px 1fr 180px;

  @media (max-width: 1500px) {
    grid-template-columns: 150px 1fr 180px;
    margin: 0 2rem;
  }
  @media (max-width: 970px) {
    grid-template-columns: 1fr 100px;
    align-items: center;

    .nav__menu {
      height: 0;
      transition: 1s;
      background-color: #fff;
      flex-direction: column;
      justify-content:flex-start;

      .menu__item {
        text-align: center;
        text-align: left;
        width: 100%;
        padding: 1rem 0;
        border-bottom: 2px solid rgba(0,0,0, .05);


        &:last-child {
          padding-bottom: 1.5rem;
        }
      }
    }

    &.active .nav__menu {
      display: flex;
      top: 73px;
      left: 0;
      width: 100%;

      visibility: visible;
      height: 100vh;

 
    }

    &.active .nav__btnMobile {
      .btnMobile__hamburguer {
        border-top-color: transparent;

        &::before {
          transform: rotate(135deg);
        }

        &::after {
          transform: rotate(-135deg);
          top: -7px;
        }
      }
    }
  }

  .nav__btnMobile {
    display: none;

    @media (max-width: 970px) {
      display: flex;
      padding: .5rem 1rem;
      font-size: 1rem;
      background: none;
      border: none;
      cursor: pointer;
      gap: .5rem;

      .btnMobile__hamburguer {
        display: block;
        border-top: 2px solid;
        width: 20px;

        &::after, &::before {
          content: '';
          display: block;
          width: 20px;
          height: 2px;
          background: currentColor;
          margin-top: 5px;
          transition: .3s;
          position: relative;
        }
      }
    }
  }

  

  .nav__logo {
    @include logo();
    padding: 1.5rem 0;

    @media (max-width: 1500px) {
      font-size: 20px;
    }
  }


  .nav__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    @media (max-width: 1500px) {
      justify-content: flex-start;
    }

    @media (max-width: 970px) {
      // display: none;
      visibility: hidden;
    }
  
    .menu__item {
      padding: 1rem;
      a {
        font-size: 25px;
        font-family: $font-primary;
        font-weight: 400;
        color: $nav-color;
        transition: color .2s;
        cursor: pointer;

  
        @media (max-width: 1500px) {
          font-size: 1rem;
        }
  
        &:hover {
          color: $color-primary;
        }
      }
    }
    
  }

  .nav__button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;

    @media (max-width: 970px) {
      display: none;
    }

    .button {
      padding: 1rem 1.5rem;
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      font-family: $font-primary;
      background-color: #87965E;
      border-radius: 8px;
      font-weight: 400;
      transition: filter .2s;

      @media (max-width: 1500px) {
        font-size: 1rem;
      }

      &:hover {
        filter: brightness(115%);
      }
    }
  }
}