@import '../../global.scss';

.go {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: url('../../assets/image/imagem6.png') no-repeat;
  background-size: cover;
  gap: 8rem;

  .go__title {
    font-family: $font-secondary;
    font-size: 173px;
    color: #fff;

    @media (max-width: 1200px) {
      font-size: 100px;
      background-color: #cf3c58;
      padding: 1rem;
    }

    @media (max-width: 670px) {
      font-size: 4rem;
      font-weight: 900;
      padding: .5rem;
    }
  }
  .go__describe {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $font-primary;
    font-size: 35px;
    color: #fff;
    gap: 3rem;

    @media (max-width: 1200px) {
      font-size: 30px;
    }

    .list {
      .list__item {
        line-height: 1.5;
      }
    }

    .button {
      background: #fff;
      border: none;
      font-family: $font-primary;
      font-size: 1rem;
      padding: 1rem 1.5rem;
      border-radius: 10px;
      text-transform: uppercase;
      width: 150px;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        filter: brightness(80%);
      }
    }
  }
}