@import '../../global.scss';

.container {
  height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;

 .button {
  bottom: 3rem;
  left: 50%;
  position: absolute;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: $font-primary;
  background-color: #87965E;
  border-radius: 8px;
  font-weight: 400;
  transition: filter .2s;
  border: none;

  &:hover {
    filter: brightness(115%);
  }
}
}